/* Large Screens */
@media screen and (max-width: map-get($breakpoints, 'large')) {
    .navbar {
        padding-left: map-get($padding, 'small') !important;
        .list {
            @include clear-list;
            a {
                span {
                    cursor: pointer;
                    font-size: 18px;
                    display: block;
                }
            }

            .menuitem {
                display: none;
            }
        }
    }
    .container {
        padding: {
            top: map-get($padding, 'nv2');
            left: map-get($padding, 'nv2');
            right: map-get($padding, 'nv2');
            bottom: map-get($padding, 'nv2');
        }
        .flex-container {
            display: block;
        }
    }

    .body-blockquote {
        display: block;
        background: #DCDCDC;
        width: 100%;
        padding-bottom: 20px;
    }
    blockquote {
        font-size: 18px;
    }
    .showcase {
        $font-size: 5px;
        h1 { font-size: $font-size * 10; }
        p  { font-size: $font-size * 5;}
        .blockquote { display: none; }
        &-inner {
            padding-top: 10px !important;
        }
    }

    #m-dics { display: block; }
    #d-dics { display: none; }
    
    #presentation {
        display: block !important;
        flex: none !important;
    }

    h2 { font-size: 38px; }

    .varColor {
        width: 100%;
    }
}

/* Medium Screens */
@media screen and (max-width: map-get($breakpoints, 'medium')) {
    .showcase-inner {
        p {
            font-size: 24px;
            line-height: 30px;
        }

        h1 {
            font-size: 40px;
        }
    }

    .container-copy, .container-social {
        float: none !important;
        margin: auto;
        text-align: center;
    }

    .nav-social {
        display: inline-block;
        margin-top: 20px;

        a {
            padding: 10px 20px;
        }
    }
}

@media screen and (max-width: map -get($breakpoints, 'small')) {
    
}
