@mixin clear-list {
    list-style: none;
    list-style-image: none;
    list-style-type: none;
}

@mixin container {
    width: 100%;
    max-width: 1366px;
    margin: auto;
    padding: {
        top: map-get($padding, 'nv4');
        left: map-get($padding, 'nv4');
        bottom: map-get($padding, 'nv4');
        right: map-get($padding, 'nv4');
    };
}

@mixin container-fluid {
    display: block;
    padding: {
        top: 32pt;
        left: 32pt;
        bottom: 32pt;
        right: 32pt;
    }
}

@mixin header-style {
    background-image:  url(../img/bg/bg_2.jpg);
    background-color: rgba(black, .5);
    background-blend-mode: multiply;
    background-size: cover;
    background-attachment: fixed;
}

@mixin ecg-flex {
    display: flex;
    display: -webkit-flex;
}