.mslide {
	position: relative;
	width: 100%;

	ul, li{
		list-style: none;
		position: relative;
    }

	.slideshow{
		width: 100%;
		position: relative;

		.m_slider {
			ul, li {
				width: 100%;

                img {
                    width: 100% !important;
                    border: 10px solid white;
                    box-shadow: 0px 2px 5px map-get($gray, '70%');
                }
            }
        }
	}
	
	.mpagination {
		position: absolute;
		top: 100%;
		display: flex;
		justify-content: center;
        width: 100%;
    }

		li{
			font-size: 15px;
			margin: 2px 5px;
			color: #bcbcbc;
            cursor: pointer;
        }
}