@import "vars";

.container {
	width: 100%;
	max-width: 1366px;
	margin: auto;
	padding-left: $pd4;
	padding-top: $pd4;
	padding-right: $pd4;
	padding-bottom: $pd4;
}

.jumbotron {
    background: rgba(white, .8);
    -webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	padding-top: 20px;
}


.header-banner {
	text-align: center;

	p {
		color: white !important;
		font-size: 30px;
	}

	h1 {
		color: white !important;
	}
}