@import "vars";

input{ display: block; }

input[type=email]{
	width: 100%;
	max-width: 900px;
	margin: auto;
	border: none;
	font-size: 18px;
	padding: 7px 10px;
	border-radius: 5px; 
    background: $gray10;
    
	&:focus {
		color: $blue;
		background: white;
        outline: none;
    }
}