@import "vars";

header {
	display: block;
	height: 500px;
	background-image: url('../img/bg/bg_2.jpg');
	background-color: rgba(black, .6);
	background-blend-mode: multiply;
	background-size: cover;
	background-attachment: fixed;
}

.navbar {
	display: block;
	overflow: hidden;

	.logo {
		display: block;
		list-style: none;

		ul {
			list-style: none;
			float: right;
		}

		li {
			float: left;
		}

		a {
			display: block;
			margin: 0;
			padding: 10px 20px;
			color: white;
		}
	}

	.list {
		list-style: none;
		float: right;

		li { float: left; }
		a {
			display: block;
			padding: 10px 20px;
			color: white;
		}
	}
}

footer{
	.container-copy{ float: left; }

	.container-social{
		    float: right;

		.nav--social{
			overflow: hidden;

			ul { list-style: none; }
			li { float: left;}

			a {
				display: block;
				padding-left: 30px;
                padding-bottom: 30px;
            }

			.feather {
				height: 16px;
				stroke: #fff;
                stroke-width: 1;
            }
        }
    }
}
