@import 'vars';

#section1{
    h2 {text-transform: uppercase;}

	.container{
		.flex-container{
			display: -webkit-flex;
			display: flex;
			-webkit-flex-flow: row wrap;
			flex-flow: row wrap;

            .flex-item {
                -webkit-flex: 1 0 45%;
                flex: 1 0 45%;
                padding: $pd1;
            }
        }
    }
}

#section2 {
	background: rgba(black, .4);
	background-image: url('../img/bg/pattern1.jpg'); // Nope
	background-blend-mode: overlay;
	.container {
		h2 {
			text-transform: uppercase;
			text-align: center;
            padding-bottom: $pd4;
            color: white;
        }
		.flex-container{
			display: -webkit-flex;
			display: flex;
			-webkit-flex-flow: row wrap;
			flex-flow: row wrap;

			.flex-item{
				-webkit-flex: 1 0 210px;
				flex: 1 0 210px;
                padding: $pd2;
            }

				.feather {
					height: 60px;
					width: 60px;
					stroke: white;
					stroke-width: 1;
					margin-left: auto;
					margin-right: auto;
					display: block;
					text-shadow: 1px 1px 1px rgba(0,0,0, 0.1);
                }
				h5 {
					padding-top: $pd2;
                    text-align: center;
                    color: white;
                    font-size: 20px;
                }

				p {
					text-align: justify;
					font-size: 18px;
					width: 200px;
                    margin: auto;
                    color: white;
                    text-shadow: 1px 1px 2px rgba(0,0,0, .6);
                }
        }
    }
}

#section3{
	.container {
		h2, h5 {
			text-align: center;
            text-transform: uppercase;
        }
}
		h2 {padding-bottom: $pd4;}
		h5 {padding-top: $pd2;}

		.flex-container {
			display: -webkit-flex;
			display: flex;
			-webkit-flex-flow: row wrap;
			flex-flow: row wrap;
			width: 100%;

			.flex-item {
				-webkit-flex: 2 0 40px;
				flex: 2 0 40px;
				padding: $pd2;

				img {
					border-radius: 100%;
					width: 100%;
                    display: block;
                }
            }
        }
}

#section4{
	.container{
		h2 {
			text-align: center;
            text-transform: uppercase;
        }
		p {
			text-align: center;
            padding-bottom: $pd4;
        }
    }
}

#section5 {
	background: $footercolor;
	text-align: center;

	h1 {
		color: #FFF;
        text-transform: uppercase;
    }
}

.header-banner {
	display: block;
	text-align: center;
	padding-top: 50px;
	overflow: hidden;

	img {
		display: block;
		margin: auto;
		height: 180px;
	}

	p {
		font-size: 30px;
		line-height: 35px;
		width: 80%;
		margin: auto;
		color: white;
		text-shadow: $text-shadow;
	}

	h1 {

		text-align: center;
		color: white !important;
	}
}


#activities {
	display: flex;
}