$primary: #41866B;
$black: #101010;
$dark: #333;
$footercolor: #17393A;
$light: #575757;
$link: #5D58FC;

$navy: #092c4c;
$blue: #1D85E8;
$green: #2cc8a8;
$yellow: #FFC258;
$pink: #fe8084;
$gray90: #526476;
$gray70: #7E92A3;
$gray50: #D7E0E7;
$gray30: #EAEEF3;
$gray10: #F6FAFD;


// paddings

$pd1: 8pt;
$pd2: 8pt*2;
$pd3: 8pt*3;
$pd4: 8pt*4;
$pd5: 8pt*5;
$pd6: 8pt*8;

$text-shadow: 1px 1px 2px rgba(0,0,0, 0.5);